@{
    ViewBag.Title = "Webshop";
}

<div class="jumbotron">
    <div style="display:inline-block">
        <img src="~/Content/images/products.png" />
    </div>
    <div  style="display:inline-block">
        <h1>Webshop</h1>
        <p class="lead">The place where you can control all your products</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>
</div>